{% extends "base.html" %}
{% block content %}


<div class="d-flex align-items-end justify-content-between mb-4">
    <div>
      <h2 class="fw-semibold mb-1">MergeFlow AI</h2>
      <p class="text-sm text-muted">Software solution to find perfect startup/company to invest</p>
    </div>
  </div>

  <div class="p-5 mb-4 rounded-3 bg-body-tertiary mt-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">MergeFlow AI</h1>
          <br />
          <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Search Companies</a>
  
    </div>
  </div>

{% endblock %}