{% extends "base.html" %}
{% block content %}


<div class="d-flex align-items-end justify-content-between mb-4">
  <div>
    <h2 class="fw-semibold mb-1">Start-Find</h2>
    <p class="text-sm text-muted">Software that let's you find startup for M&A</p>
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary btn-sm">
      <i class="bi bi-plus-lg me-2 fw-bold"></i>New Search
    </button>
  </div>
</div>

<div class="p-5 mb-4 rounded-3 bg-body-tertiary mt-5">
  <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Start-Find Software</h1>
        <br />
        <a href="#" class="btn btn-outline-primary">Solutions</a>
  </div>
</div>

{% endblock %}